NEXT_PUBLIC_BACKEND_URL=http://localhost:3001/api
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_xxxxxxxxxxxxx
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=xxxxx
NEXT_PUBLIC_WHATSAPP_NUMBER=34954000000
NEXT_PUBLIC_GA_ID=G-XXXXXXXXXX
